[Bot]
help_text = This bot repeats the messages that you send it.
repeat_keyboard_text = How many times would you like me to repeat your messages?
initial_repeats = 1

[Telegram]
token = CHANGEME

[VK]
token = CHANGEME
group_id = CHANGEME
